.react-flow {
  --xy-node-color-default: #fff;
  --xy-node-background-color-default: #2b7fff;
  --xy-node-border-default: 1px solid #2b7fff;
  --xy-node-border-radius-default: 50%;

  --xy-node-boxshadow-default:
    0px 3.54px 4.55px 0px #00000005, 0px 3.54px 4.55px 0px #0000000d,
    0px 0.51px 1.01px 0px #0000001a;

  --xy-edge-stroke-default: #fff;
  --xy-edge-stroke-selected: #fff;
  --xy-edge-stroke-width-default: 2px;
}

.react-flow__attribution {
  display: none;
}

.react-flow__node {
  box-shadow: var(--xy-node-boxshadow-default);
  border-radius: var(--xy-node-border-radius-default);
  background-color: var(--xy-node-background-color-default);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  flex-direction: column;
  border: var(--xy-node-border-default);
  color: var(--xy-node-color, var(--xy-node-color-default));
}
