@import "tailwindcss";

@theme {
  --color-gray-50: #383838;
  --color-gray-100: #363636;
  --color-gray-200: #333333;
  --color-gray-300: #2E2E2E;
  --color-gray-400: #2C2C2C;
  --color-gray-500: #272727;
  --color-gray-600: #252525;
  --color-gray-700: #232323;
  --color-gray-800: #1E1E1E;
  --color-gray-900: #121212;
}
